
current-weather/ConfigProduction.swift
current-weather.xcodeproj/xcuserdata/hannes.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
current-weather.xcodeproj/xcuserdata/hannes.xcuserdatad/xcschemes/xcschememanagement.plist
current-weather.xcodeproj/project.xcworkspace/xcuserdata/hannes.xcuserdatad/UserInterfaceState.xcuserstate
